@media (min-width: 1200px) {
  #tarteaucitronRoot #tarteaucitronAlertBig #tarteaucitronDisclaimerAlert {
    width: 40%;
  }
}
#tarteaucitronDisclaimerAlert span {
  color: white;
}
#tarteaucitronRoot #tarteaucitronAlertBig .tarteaucitronAlertBigPrivacyTitle {
  font-size: 2em;
  font-family: var(--BASE-title-font) !important;
  padding: 2% 0;
}
#tarteaucitronRoot #tarteaucitronAlertBig .tarteaucitronAlertBigPrivacyTitle,
#tarteaucitronRoot #tarteaucitronAlertBig .tarteaucitronAlertBigPrivacyText {
  width: 100%;
  display: block;
}

#tarteaucitronInfo p {
  color: inherit;
}

/* Règles CSS ajoutées suite audit Temesis du 6 mai 2024 sur standardbm. */
.tarteaucitronIsAllowed button.tarteaucitronDeny {
  opacity: 1!important;
}
.tarteaucitronIsDenied button.tarteaucitronAllow {
  opacity: 1!important;
}
.tarteaucitronLine button.tarteaucitronAllow, .tarteaucitronLine button.tarteaucitronDeny {
  opacity: 1!important;
}
