{#
/**
 * @file
 * Display an Tarteaucitron compatible DIV with alterable components.
 */
#}
<div{{ attributes }} class="tac_mixcloud" data-src="{{ src }}" data-width="{{ width }}" data-height="{{ height }}" data-autoplay="{{ autoplay }}"></div>
