{#
/**
 * @file
 * Theme implementation to display a Geofield Google Map.
 *
 * This creates a placeholder for the map to be injected in.
 *
 * Available variables:
 * - mapid
 * - height
 * - width
 *
 * @ingroup themeable
 *
 */
#}

{#
# actif --> tac = "-tac"
# inactif -> tac = ""
#}
<div id="{{ mapid }}" class="geofield-google-map{{ tac }}" style="min-width: 200px; width: {{ width }}; min-height: 200px; height: {{ height }}"></div>
